#cssmenu {
	width: 160px;
    word-wrap: break-word;
}
#filter {
	margin-left:10px;
}
#cssmenu ul {
	margin: 0;
	padding: 0;
}

#cssmenu ul li.main {
	display: inline;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
    color:white;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #606060, #111); /* for firefox 3.6+ */
    height:20px;
}
#cssmenu ul li.main a {
	display: inline;
	margin: 0;
    padding:0;
    height:20px;
	color: white;
}
#cssmenu ul li.main a:hover{
	display: inline;
	float: left;
	width: 160px;
	margin: 0;
	color: white;
    background: #2e7682;
    height:20px;
    padding:0px;
}
#cssmenu ul li.main a span {
	display: inline;
	margin: 0;
	width: 100%;
	padding-right: 35px;
	cursor: pointer;
    color: white;
    padding-left:5px;
}
#cssmenu ul li.mainactive a {
	display: inline;
	float: left;
	width: 160px;
	margin: 0;
	color: white;
    background: #2e7682;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #43848E, #20535B); /* for firefox 3.6+ */
    height:20px;
    padding-left:0px;
}
#cssmenu ul li.mainactive span {
    padding-left:5px;
    
}
#cssmenu ul li.mainactive a:hover {
	display: inline;
	float: left;
	width: 160px;
	margin: 0;
    padding:0px;
	color: white;
    background: #2e7682;
    height:20px;
}
#cssmenu ul li.mainactive span {
    color:white;
}

#cssmenu ul li {
	display: inline;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
    
}

#cssmenu ul li ul {
	margin: 0;
	padding: 0;
    width:100%;
	padding-left: 15px;
	color: black;
    list-style-type: circle;
    list-style-position: outside;
}

#cssmenu ul li ul li a:hover,
#cssmenu ul li ul li.active a {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
    padding-left:15px;
    margin-left:-15px;
    background: silver;
    
}


#cssmenu ul li a {
	display: inline;
	margin: 0;
	width: 100%;
	padding-left: 15px;
	color: black;
}

#cssmenu ul li a span {
	display: inline;
	margin: 0;
	width: 100%;
	padding-right: 35px;
	cursor: pointer;
    color: black;
}

#cssmenu ul li a:hover,
#cssmenu ul li.active a {
	display: inline;
	float: left;
	width: 145px;
	margin: 0;
	padding-left: 15px;
	color: white;
    background: #2e7682;
}

#cssmenu ul li.active ul a {
	width: 145px;
	color: black;
    margin-left:-15px;
    background: white;
    background-color:#E8E8E8;
    margin-top:1px;
}
#cssmenu ul li.active ul span {
	color: black;
    padding-left:15px;
}


#cssmenu ul li a:hover span,
#cssmenu ul li.active a span {
    color:white;
    width:145px;
}

#cssmenu ul li ul li a:hover span,
#cssmenu ul li.active ul li a span {
    color:black;
}
#cssmenu ul li.active ul li.active a span {
    color:black;
    padding-left:15px;
    
}
#cssmenu ul li.active ul li.active a{
    color:white;
    margin-left:-15px;
    width:145px;
    margin-top:1px;
}

#cssmenu ul li.active ul li.active ul li a span {
    color:black;
}
#cssmenu ul li.active ul li.active ul li.active a span {
    font-weight:bold;
}
#cssmenu ul li.active ul li.active ul li  a:hover span {
    font-weight:bold;
}
#cssmenu ul li.active ul li.active ul li a{
    color:white;
    margin-left:-15px;
    width:130px;
    margin-top:1px;
    background-color:#efefef;
}


#cssmenu ul li.myaccount a {
	display: inline;
	float: left;
	width: 160px;
	margin: 0;
	color: black;
    font-weight:bold;
    height:20px;
    padding-left:0px;
}

#cssmenu ul li.myaccount a:hover {
	display: inline;
	float: left;
	width: 160px;
	margin: 0;
    padding:0px;
	color: black;
    background-color:white;
    height:20px;
}
#cssmenu ul li.myaccount a.active:hover {
	display: inline;
	float: left;
	width: 160px;
	margin: 0;
    padding:0px;
	color: black;
    background-color:white;
    height:20px;
}

#cssmenu ul li.myaccount ul a {
    font-weight:normal;
    width: 145px;
    margin:0;
    padding:0;
}
#cssmenu ul li.myaccount ul li.active a {
    font-weight:normal;
    background: silver;
    width: 145px;
    margin:0;
    padding:0;
}
#cssmenu ul li.myaccount ul li.active a:hover {
    font-weight:normal;
    background: silver;
    margin:0;
    padding:0;
    width: 145px;
}
#cssmenu ul li.myaccount ul li a:hover {
    font-weight:normal;
    background: silver;
    margin:0;
    padding:0;
    width: 145px;
}

#cssmenu ul li.hind {
	display: inline;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
    color:black;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#111'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#111)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #cfcfcf, #606060); /* for firefox 3.6+ */
    height:20px;
    
}
#cssmenu ul li.hind a {
	display: inline;
	margin: 0;
    padding:0;
    height:20px;
	color:black;
}
#cssmenu ul li.hind a:hover{
	display: inline;
	float: left;
	width: 160px;
	margin: 0;
	color:black;
    background: #2e7682;
    height:20px;
    padding:0px;
}
#cssmenu ul li.hind a span {
	display: inline;
	margin: 0;
	width: 100%;
	padding-right: 35px;
	cursor: pointer;
    color:black;
    padding-left:5px;
}
#cssmenu ul li.hindactive a {
	display: inline;
	float: left;
	width: 160px;
	margin: 0;
	color:black;
    background: #2e7682;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#a9a9a9), to(#7a7a7a)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #43848E, #20535B); /* for firefox 3.6+ */
    height:20px;
    padding-left:0px;
}
#cssmenu ul li.hindactive span {
    padding-left:5px;
    
}
#cssmenu ul li.hindactive a:hover {
	display: inline;
	float: left;
	width: 160px;
	margin: 0;
    padding:0px;
	color:black;
    background: #2e7682;
    height:20px;
}
#cssmenu ul li.hindactive span {
    color:black;
}
