<html xmlns="http://www.w5.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
<head>
    
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/pagination.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/jqcontextmenu.css')}" />
    <script type="text/javascript" src="${tg.url('/javascript/cookie.js')}"></script>
    <script type="text/javascript" src="${tg.url('/javascript/akcje.js')}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="${tg.url('/javascript/jqcontextmenu.js')}"></script>

    <script type="text/javascript" src="${tg.url('/javascript/my.js')}"></script>
    <script type="text/javascript">
jQuery(document).ready(function($){
	$('body.tundra').addcontextmenu('contextmenu1'); //apply context menu to links with class="mylinks"
})
</script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-darkness/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#date1").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd', dateFormat: "yy-mm-dd", showOn: 'button', buttonImageOnly: true, buttonImage: "/molgears/images/datepicker.jpeg", gotoCurrent: true, maxDate: "+0d", minDate: new Date(2012, 1 - 1, 1)});
    $("#date2").datepicker({ altField: 'input#date', altFormat: 'yy-mm-dd', dateFormat: "yy-mm-dd", showOn: 'button', buttonImageOnly: true, buttonImage: "/molgears/images/datepicker.jpeg" , gotoCurrent: true, maxDate: "+0d", minDate: new Date(2012, 1 - 1, 1)});
  });
  </script>
<script type="text/javascript" src="${tg.url('/javascript/show.js')}"></script>

<title>Samples ${pname}</title>
</head>
<body class="tundra" onload="recoverInputs(document.forms.selection,retrieveCookie('samples'),true);ChangeAll(this);ChooseAll();showNotEmpty0();">
<div id="left_content" style="display:block;">
    ${sidebar()}
    <div style="clear:both;"/>    
     <hr style="border: 2px ridge #000;" />
     <div id="cssmenu">
        <ul>
            <li><a href="${tg.url('/'+pname+'/samples')}"><b>Show all</b></a></li>
        </ul>
    </div>
    <div style="clear:both;"/>    
     <hr style="border: 2px ridge #000;" />
    <div>
        <p class="pagelist" style="font-size:12px;text-align:center;">
            <a class="prevPage" href="${tg.url('/'+pname+'/samples/?page')}=${currentPage.previous_page}&amp;${tmpl}">&lt;</a>
            ${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
            <a class="nextPage" href="${tg.url('/'+pname+'/samples/?page')}=${currentPage.next_page}&amp;${tmpl}">&gt;</a>
        </p>
    </div>
    <div style="clear:both;"/>    
     <hr style="border: 2px ridge #000;" />
    <div id="filter">
          <b>Filter</b>
          <form name="choose" action="${tg.url('/'+pname+'/synthesis/search')}">
          <input type="checkbox" name="choosen" value="" onclick="search_toggle(this);" id="all" style="color:red;" /><b>&nbsp;</b><br />
            <input type="checkbox" class="choose" name="choosen" value="structure" onclick="ChooseAll(this);" id="structure" />Structure<br />
            <input type="checkbox" class="choose" name="choosen" value="structure" onclick="ChooseAll(this);" id="text_GID" />GID<br />
            <input type="checkbox" class="choose" name="choosen" value="structure" onclick="ChooseAll(this);" id="text_name" />Name<br />
            <input type="checkbox" class="choose" name="choosen" value="structure" onclick="ChooseAll(this);" id="text_creator" />Creator<br />
            <input type="checkbox" class="choose" name="choosen" value="structure" onclick="ChooseAll(this);" id="text_notes" />Notes<br />
            <input type="checkbox" class="choose" name="choosen" value="structure" onclick="ChooseAll(this);" id="text_tags" />Tags<br />
            <input type="checkbox" class="choose" name="choosen" value="structure" onclick="ChooseAll(this);" id="text_date" />Date<br />
          </form> 
    </div>
</div>
<form name="selection" onsubmit="setCookie('samples',getFormString(this,true),10);">
<div class="accept">
    <div id="structure1" style="display:none">
        <p>
            <b>SMILES</b><br />
            <input type="text" size="40" value="" name="smiles" class="filternotempty" /><input type="button" value="Draw Structure" onClick="startEditor();" />
        </p>
        <p>
            <input type="radio" name="method" value="similarity" /> Similarity  <br />
            <input type="radio" name="method" value="substructure" checked="yes" /> Substructure <br />
            <input type="radio" name="method" value="identity" /> Exact Structure <br />
        </p>
        <br style="clear:left;" />
    </div>
    <div  style="width:250px;float:left;clear:right;">
        <div id="text_GID1" class="hide"><b>GID:</b> <INPUT TYPE="text" name="text_GID" SIZE="2" class="filternotempty" /><br /><br /></div>
        <div id="text_name1" class="hide"><b>Name:</b> <INPUT TYPE="text"  name="text_name" SIZE="12" class="filternotempty" /><br /><br /></div>
        <div id="text_creator1" class="hide"><b>Creator:</b> <INPUT TYPE="text"  name="text_creator" SIZE="10" class="filternotempty" /><br /><br /></div>
        <div id="text_notes1" class="hide"><b>Notes:</b> <INPUT TYPE="text"  name="text_notes" SIZE="12" class="filternotempty" /><br /><br /></div>
    </div>
    <div id="text_tags1" class="hide">
        <br style="clear:left;" />
        <label class="tags" for="tags"><b>Tags: </b></label>
        <br /><br />
        <div class ="tags">
        <ul style="width:600px;list-style: none; line-height: normal;margin: 0;padding: 0; ">
        <li py:for="tag in alltags"  style="float: left; width: 150px; border: 0px;">
            <input type="checkbox" name="text_tags" value="${tag.id}" class="filternotempty" />${tag.name}
        </li>
        </ul>
        </div>
    </div>
    <div id="text_date1" class="hide">
    <div style="clear:both;" /><br />
    <b>Date</b><br />
          <div class="demo">
						from: <input id="date1" name="date_from" class="filternotempty" /><br />
                        to: <input id="date2" name="date_to" class="filternotempty" />
			</div>
     </div>
<div id="search_box">
<div style="clear:both;" /><br />
    <p>
        <div name="newboxes" id="newboxes2" style="display:block">
        <input type="submit" name="search" value="Search" onclick="set_reset();" style="background-color:blue;color:white;border: 4px outset blue;font-weight:bold;" /> <input type="button" name="clear" value="Reset" onclick="clearForm(this.form);deleteCookie('samples');ChangeAll();" style="background-color:green;color:white;border: 4px outset green;font-weight:bold;" />
        </div>
    </p>
</div>
    <div id="crud_content">
    <div class="crud_table">
        <div id="crud_tab">
            <table id="" class="grid" cellpadding="2">
                <thead >
                    <tr>
                        <th class="col"><input type="checkbox" onClick="toggle(this);CheckIfSelected();ShowLength();" id="maincheckbox" /></th>
                        <th class="col">GID <br /><a class="sort_up" href="${tg.url('/'+pname+'/samples?'+tmpl.replace('order_by', 'remove').replace('desc', 'remove')+'order_by=gid')}&amp;desc=0">&nbsp; </a>
                        <a class="sort_down" href="${tg.url('/'+pname+'/samples?'+tmpl.replace('order_by', 'remove').replace('desc', 'remove')+'order_by=gid')}&amp;desc=1">&nbsp; </a></th>
                        <th class="col">Name<br /><a class="sort_up" href="${tg.url('/'+pname+'/samples?'+tmpl.replace('order_by', 'remove').replace('desc', 'remove')+'order_by=name')}&amp;desc=0">&nbsp; </a>
                        <a class="sort_down" href="${tg.url('/'+pname+'/samples?'+tmpl.replace('order_by', 'remove').replace('desc', 'remove')+'order_by=name')}&amp;desc=1">&nbsp; </a></th>
                        <th class="col">Image<br />&nbsp;</th>
                        <th class="col">Requests<br />&nbsp;</th>
                        <th class="col">Synthesis<br />&nbsp;</th>
                        <th class="col">Library<br />&nbsp;</th>
                        <th class="col">Tags<br />&nbsp;</th>
                        <th py:if="similarity" class="col">Similarity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr py:for="row in compound" class="${compound.index(row)%2 and 'odd' or 'even'}" id="${row.gid}">
                        <td class="col"><input type="checkbox" name="select" value="${row.gid}" onchange="ShowLength();ChangeMe(this,'${row.gid}')" /></td>
                        <td class="col">${row.gid}</td>
                    <td class="col">
                    <a href="${tg.url('/'+pname+'/molecules/details')}/${row.gid}/" style="text-wrap:suppress">${row.name}</a>
                        <py:if test="row.pains1"> <a href="${tg.url('/pains/pains1/details')}/${row.pains1_id}" ><img src="${tg.url('/images/flag1.png')}" /></a></py:if>
                        <py:if test="row.pains2"> <a href="${tg.url('/pains/pains2/details')}/${row.pains2_id}" ><img src="${tg.url('/images/flag2.png')}" /></a></py:if>
                        <py:if test="row.pains3"> <a href="${tg.url('/pains/pains3/details')}/${row.pains3_id}" ><img src="${tg.url('/images/flag3.png')}" /></a></py:if>
                      <py:for each="item in row.names">
                        <py:if test="item.name != row.name">
                             <br />${item.name}
                        </py:if>
                      </py:for>
                        </td>
                        <td class="col">
                        <a class="thumbnail" href="${tg.url('/'+pname+'/samples?smiles=')}${str(row.structure).replace('+', '%2B').replace('#','%23')}&#38;method=similarity&#38;search=Szukaj&#38;akcja=edit"><img src="${tg.url('/img')}/thumb${row.gid}.png" width="120px" height="120px" border="0" /><span><img src="${tg.url('/img')}/${row.gid}.png" /><br />[<b>${row.gid}</b>] ${row.name}</span></a>
                        </td>
                        <td class="col"><py:for each="pc in row.pcompounds"><a href="${tg.url('/'+pname+'/select/details/')}${pc.gid}/${pc.id}">${pc.status.name}</a><br /></py:for></td>
                        <td class="col"><py:for each="sc in row.scompounds"><a href="${tg.url('/'+pname+'/synthesis/details/')}${sc.gid}/${sc.id}">${sc.status.name}</a><br /></py:for></td>
                        <td class="col"><py:for each="lc in row.lcompounds"><a href="${tg.url('/'+pname+'/library/details/')}${lc.gid}/${lc.id}">${lc.box}${lc.entry}</a> (${lc.state}mg)<br /></py:for></td>
                        <td class="col">
                        <ul>
                            <li py:for="tag in row.tags"  style="list-style: none; display: block; text-indent: -3em; margin:0px;padding:0px;"><a href="${tg.url('/'+pname+'/samples')}?search=Szukaj&#38;text_tags=${tag.id}&#38;akcja=edit&#38;method=substructure">${tag.name}</a></li>
                        </ul>
                        </td>
                        <td py:if="similarity" class="col">${round(similarity[compound.index(row)],4)*100}</td>

                    </tr>
                </tbody>
            </table>
                <py:if test="len(compound) == 0">
                    No Records Found.
                </py:if>
        <div class="pagelist">
            <p class="pagelist">
            <a class="prevPage" href="${tg.url('/'+pname+'/samples/?page')}=${currentPage.previous_page}&amp;${tmpl}">&lt;&lt;&lt;</a>
            ${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
            <a class="nextPage" href="${tg.url('/'+pname+'/samples/?page')}=${currentPage.next_page}&amp;${tmpl}">&gt;&gt;&gt;</a>
            </p>
        </div>
            </div>

    
        </div>
    </div>
</div>
    <div style="clear:both;"/>
               <select id="crud_search_field" size="3" name="akcja" style="visibility:hidden;">
                    <option id="edit" value="edit">Edit</option>
                    <option value="accept">Create Request</option>
                    <option value="library">Add to Library</option>
                    <option id="delete" value="delete">Delete</option>
                </select>
    
<ul id="contextmenu1" class="jqcontextmenu">
    <li style="font-weight:bold;padding:5px;font-size:13px;text-align:center;"><span>Select option:</span></li>
     <li>
     
            <a href="#" onclick="set_option('edit');">Edit</a>
            <a href="#" onclick="set_option('accept');">Create Request</a>
            <a href="#" onclick="set_option('library');">Add to Library</a>
            <a href="#" onclick="set_confirm_option('delete');">Delete</a>
    </li>
</ul>
    </form>
</body>
</html>
