<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/pagination.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/form.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/details.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/tabs.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/jqcontextmenu.css')}" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="${tg.url('/javascript/jqcontextmenu.js')}"></script>
  <title>Compounds ${pname}</title>
    <script language="javascript"> 
function toggle() {
	var ele = document.getElementById("toggleText");
	var text = document.getElementById("displayText");
	if(ele.style.display == "inline") {
    		ele.style.display = "none";
		text.innerHTML = "show";
  	}
	else {
		ele.style.display = "inline";
		text.innerHTML = "hide";
	}
} 
</script>
</head>

<body class="tundra">
<div id="left_content" style="display:block;">
    ${sidebar()}
    <div style="clear:both;"/>    
     <hr style="border: 2px ridge #000;" />
     <div id="cssmenu">
        <ul>
            <li><a href="${tg.url('/'+pname+'/molecules')}">Show all</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/new')}">Add new</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/read_from_file')}">Import from file</a></li><li><a href="${tg.url('/'+pname+'/molecules/showgroups')}">Groups</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/history')}">History of changes</a></li>
        </ul>
    </div>
</div>

<div class="accept">
<div id="crud_content">
    <div class="detail_compound">
<!--!    <h2 style="text-align:center">Details związku <span style="color:blue;font-weight:bold; font-style:italic">${compound.name}</span> <span style="color:gray;font-weight:bold; font-style:italic">(${compound.gid})</span> </h2>-->
        <div class="details">
        <br />
            <table width="400px" style="float:left;">
                <tr>
                <td><b style="font-size:16px;color:#286571;">${compound.name}</b><span style="font-size:16px;float:right;color:#B0B0B0;" title="GID">${compound.gid}</span></td>
                </tr>
                <tr>
                
                    <td>
                    
                    <py:for each="item in compound.names">
                      <py:if test="item.name != compound.name">
                             ${item.name}&nbsp;&nbsp;
                        </py:if>
                      </py:for>
                    </td></tr>
            </table>
            <br /><br />
            <table id="params" style="width:400px;text-align:center;text-valign:center;" align="center" valign="center">
                <thead>
                <tr style="text-align:center;text-valign:center;">
                    <th style="text-align:center;text-valign:center;">atoms</th>
                    <th style="text-align:center;text-valign:center;">rings</th>
                    <th style="text-align:center;text-valign:center;">molecular weight</th>
                    <th style="text-align:center;text-valign:center;">logP</th>
                    <th style="text-align:center;text-valign:center;">hba</th>
                    <th style="text-align:center;text-valign:center;">hbd</th>
                    <th style="text-align:center;text-valign:center;">tpsa</th>
                    <th style="text-align:center;text-valign:center;">qed</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${compound.num_hvy_atoms}/${compound.num_atoms}</td>
                        <td>${compound.num_rings}</td>
                        <td style="color:${compound.mw>500 and 'red' or 'black'}">${compound.mw}</td>
                        <td style="color:${round(compound.logp,2)>5 and 'red' or 'black'}">${round(compound.logp,2)}</td>
                        <td style="color:${compound.hba>10 and 'red' or 'black'}">${compound.hba}</td>
                        <td style="color:${compound.hbd>5 and 'red' or 'black'}">${compound.hbd}</td>
                        <td>${compound.tpsa}</td>
                        <td>${compound.qed}</td>
                    </tr>
                </tbody>
            </table>
                <!--!<tr><th style="border:none;width:50px">Tags:</th><td><py:for each="tag in compound.tags">${tag.name}<br /></py:for></td></tr>-->
            <br /> <br />
            <a id="displayText" href="javascript:toggle();" style="color:blue;">show</a>
            <div id="toggleText" style="display: none;width:300px;word-wrap: break-word;">
            <table width="400px" style="float:left;">
                <tbody>
                    <tr><th style="border:none;width:50px">Formula:</th><td>${formula}</td></tr>
                    <tr style="background-color:#E8E8E8;"><th style="border:none;width:50px">InChI:</th><td><div style="float:left;width:300px;word-wrap: break-word;">${compound.inchi}</div></td></tr>
                    <tr><th style="border:none;width:50px">SMILES:</th><td><div style="float:left;width:300px;word-wrap: break-word;">${compound.structure}</div></td></tr>
                </tbody>
            </table>
            </div>
            <br /><br />
            <div style="width:400px;">
            <b>Tags: </b><br /><br />
                <ul id="tags">
                    <li py:for="tag in compound.tags" id="tags"><a href="${tg.url('/'+pname+'/molecules/')}index?page=&#38;search=Szukaj&#38;text_tags=${tag.id}">${tag.name}</a></li>
                </ul>
            </div>
        </div>
        <div class="details2">
            <a href="${tg.url('/'+pname+'/molecules/')}?smiles=${str(compound.structure).replace('+', '%2B').replace('#','%23')}&amp;search=Szukaj&amp;method=similarity"><img src="${tg.url('/img')}/${compound.gid}.png" height="270" width="270" id="neutralny" /></a>
        </div>
    </div>
<div style="clear:both;"/>
<div class="detail_notes" style="width: 800px;margin: 10px auto;color: #666;">
<ul id="nav">
	<li class="current"><a href="#menu">Details</a></li>
	<li><a href="${tg.url('/'+pname+'/molecules/edit')}/${compound.gid}">Edit</a></li>
	<li><a href="${tg.url('/'+pname+'/molecules/accept')}/${compound.gid}">Create Request</a></li>
    <li><a href="${tg.url('/'+pname+'/molecules/library')}/${compound.gid}">Add to Library</a></li>
    <li><a href="${tg.url('/'+pname+'/molecules/remove')}/${compound.gid}" onclick="return(confirm('Confirm deleting!'))">Delete</a></li>    
</ul>
</div>
<br style="clear:both;" />
    
<div class="start_menu">
    <ul id="menu">
      <li><a href="#menu" class="${len(pcompounds)==0 and 'blocked' or ''}">Requests (${len(pcompounds)})</a>
        <ul py:if="pcompounds">
			<li py:for="pcomp in pcompounds"><a href="${tg.url('/'+pname+'/select/details')}/${pcomp.gid}/${pcomp.id}">${pcomp.gid}-${pcomp.seq}</a></li>
		</ul>
      </li>
      <li><a href="#menu" class="${len(scompounds)==0 and 'blocked' or ''}">Synthesis (${len(scompounds)})</a>
        <ul py:if="scompounds">
			<li py:for="scomp in scompounds"><a href="${tg.url('/'+pname+'/synthesis/details')}/${scomp.gid}/${scomp.id}">${scomp.gid}-${scomp.seq}</a></li>
		</ul>
      </li>
      <li><a href="#menu" class="${len(lcompounds)==0 and 'blocked' or ''}">Library (${len(lcompounds)})</a>
        <ul py:if="lcompounds">
			<li py:for="lcomp in lcompounds"><a href="${tg.url('/'+pname+'/library/details')}/${lcomp.gid}/${lcomp.id}">${lcomp.gid}-${lcomp.seq}</a></li>
		</ul>
      </li>
        <li><a href="#menu" class="${sum(len(lc.ctoxicity) for lc in lcompounds)==0 and 'blocked' or ''}">Ctoxicity (${sum(len(lc.ctoxicity) for lc in lcompounds)})</a>
        <ul py:if="lcompounds">
			<li py:for="lcomp in lcompounds"><a href="${tg.url('/'+pname+'/results/ctoxicity/details')}/${lcomp.gid}/${lcomp.id}">${lcomp.gid}-${lcomp.seq}</a></li>
		</ul>
      </li>
    </ul>
    <div class="clear"> </div>
    <div class="content">

        <h2 style="text-align:center">Details</h2>
        <table width="300px" style="float:left;">
            <tr style="background-color:#E8E8E8;"><th style="border:none;width:150px">GID:</th><td>${compound.gid}</td></tr>
            <tr><th style="border:none;width:150px">Creator:</th><td>${compound.creator}</td></tr>
            <tr style="background-color:#E8E8E8;"><th style="border:none;width:150px">Author:</th><td>${compound.author}</td></tr>
            <tr><th style="border:none;width:150px">Create date:</th><td>${compound.create_date}</td></tr>
            <tr style="background-color:#E8E8E8;"><th style="border:none;width:150px">Files from mol. modeling:</th>
                    <td>
                        <py:for each="f in compound.files">
                            ${compound.files.index(f)}. <a href=" ${tg.url('/files/models')}/${f.filename}">${f.name}</a><br />
                        </py:for>
                    </td></tr>
        </table>
        <div class="clear"> </div>
        <br />
        <hr />
        <div style="margin:0px auto; width:800px;text-align:center;">
        <h3 style="text-align:center">Similar Compounds (${len(similars)})</h3>
        <table width="600px" align="center" style="border:1px solid #c8c8c8;">
            <thead>
                <tr>
                    <th style="text-align:center">GID</th>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">Similarity</th>
                </tr>
            </thead>
            <tbody>
                <tr py:for="row in similars" style="background-color:${similars.index(row)%2 and '#fff;' or '#E8E8E8;'}">
                    <td style="text-align:center">${row.Compound.gid}</td>
                    <td style="text-align:center"><a href="${tg.url('/'+pname+'/molecules/details')}/${row.Compound.gid}">${row.Compound.name}</a></td>
                    <td style="text-align:center"><a class="thumbnail" href="${tg.url('/'+pname+'/molecules/similaritymap')}/${compound.gid}/${row[0].gid}" style="color:#000">${round(row[1],4)*100} %
                        <span><img src="${tg.url('/img')}/${row.Compound.gid}.png" width="300px" height="300px" /><br />[<b>${row.Compound.gid}</b>] ${row.Compound.name}</span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div py:if="compound.notes" class="detail_notes"> 
            <p style="text-align:center;"><br /> <b style="color:red">Notes: </b><br /></p>
            <p style="border:1px solid #E8E8E8 ">${compound.notes} </p>
            <br />
        </div>
        <div class="clear"> </div>
        <br />
        <hr />
        <div class="history">
            <h3 style="text-align:center">History of changes</h3>
            <table class="details">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Changes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr py:for="history in compound.history">
                        <td class="col">${history.user}</td>
                        <td class="col">${history.status}</td>
                        <td class="col">${history.date}</td>
                        <td class="col2">${history.changes}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<div style="clear:both;"/>

</body>
</html>
