<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/pagination.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/form.css')}" />
  
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="${tg.url('/javascript/jquery.validate.js')}"></script>
 
  <script type="text/javascript" src="${tg.url('/javascript/my.js')}"></script>
  <script type="text/javascript" language="javascript">
    function setname(){
      var myselect = document.getElementById("selectOpt");
      var msg=myselect.options[myselect.selectedIndex].text;
      if (msg == 'None'){
        msg = '';
      }
      document.getElementById("accept").value=msg;
    }
    function setmainname(){
      var myselect = document.getElementById("selectOptMain");
      var msg=myselect.options[myselect.selectedIndex].text;
      if (msg == 'None'){
        msg = '';
      }
      document.getElementById("mainname").value=msg;
    }
  </script>
  <title>Compounds ${pname}</title>
</head>

<body onload="recoverInputs(document.forms.form,retrieveCookie('mEdit'),true);">
<div id="left_content" style="display:block;">
    ${sidebar()}
    <div style="clear:both;"/>    
     <hr style="border: 2px ridge #000;" />
     <div id="cssmenu">
        <ul>
            <li><a href="${tg.url('/'+pname+'/molecules')}">Show all</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/new')}">Add new</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/read_from_file')}">Import from file</a></li><li><a href="${tg.url('/'+pname+'/molecules/showgroups')}">Groups</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/history')}">History of changes</a></li>
        </ul>
    </div>
    <div style="clear:both;"/>    
     <hr style="border: 2px ridge #000;" />
     <div id="cssmenu">
        <ul>
            <li><a href="${tg.url('/'+pname+'/molecules/details')}/${compound.gid}">Details</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/edit')}/${compound.gid}"><b>Edit</b></a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/accept')}/${compound.gid}">Create Request</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/library')}/${compound.gid}">Add to Library</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/remove')}/${compound.gid}" onclick="return(confirm('Confirm deleting!'))">Delete</a></li>
        </ul>
    </div>
</div>
 
 
<div class="accept">
<h2 class="text-align:center;">Edit compound.</h2>
  <form action="${tg.url('/'+pname+'/molecules/put')}/${compound.gid}" enctype="multipart/form-data" method="post" name="selection" onsubmit="setCookie('mEdit',getFormString(this,true),10);" id="myform">
    <table style="width:700px;">
        <tr>
            <td><label for="id">GID: </label></td>
            <td><input type="text" name="id" value="${compound.gid}" disabled="True" size="1" /></td>
        </tr>
        <tr>
            <td><label for="structure">Smiles: </label></td>
            <td><input type="text" size="40" value="${compound.structure}" name="smiles"  /><input type="button" value="Draw Structure" onClick="startEditor();" /></td>
        </tr>
        <tr>
            <td><label for="name">Add new name: </label></td>
            <td>
                <input id="accept" type="text" name="name"  />
                <select name="ngroups" onchange="setname();" id="selectOpt">
                    <option value="" selected="selected">None</option>
                    <option py:for="group in ngroups" value="${group.id}">${group.prefix and group.prefix + '-' or ''}${(group.precision-len(str(group.next)))*'0'}${group.next}${group.sufix and '-' + group.sufix or ''}</option>
                </select>
                <input type="checkbox" name="newmain" value="yes" checked="yes" />set as primary
            </td>

        </tr>
        <tr>
            <td>Edit Names:</td>
            <td>
                <div style="border:1px solid black;background:silver;width:245px;height:33px;float:left;">
                    <input id="mainname" type="text" name="mainname"  value="${compound.name}" style="margin-top:5px;margin-left:5px;font-weight:bold;" />
                </div>
                <div style="border:1px solid black;background:silver;width:160px;height:28px;float:left;vertical-align:middle;padding-top:5px;">
                    <select name="ngroupsmain" onchange="setmainname();" id="selectOptMain">
                        <option value="" selected="selected">None</option>
                        <option py:for="group in ngroups" value="${group.id}">${group.prefix and group.prefix + '-' or ''}${(group.precision-len(str(group.next)))*'0'}${group.next}${group.sufix and '-' + group.sufix or ''}</option>
                    </select>
                </div>
                <br />
                <div><py:for each="element in compound.names">
                            <py:if test="compound.name != element.name" ><input type="text" name="othernames:${element.id}"  value="${element.name}" /> <a href="${tg.url('/'+pname+'/molecules/delname')}/${element.id}/edit" onclick="return confirm('Confirm deleting!')">delete</a> <a href="${tg.url('/'+pname+'/molecules/setname')}/${element.name}/${compound.gid}/edit"> | set as primary</a><br /></py:if>
                    </py:for>
                </div>
            </td>
        </tr>
        <tr>
            <td><label for="notes">Notes: </label></td>
            <td><textarea id="notes" name="notes" rows="2" value="None" >${compound.notes}</textarea></td>
        </tr>
        <tr>
            <td><label for="purity"> Files from mol. modeling: </label></td>
            <td>
            <py:choose test="compound.files">
              <py:when test="True">
                <py:for each="f in p.filename">
                files : <a href=" ${tg.url('/files/models')}/${f.filename}">[ ${f.name} ]</a><br />
                <input type="file" name="newfile" size="20" value="test" /> (add file)
                </py:for>
              </py:when>
              <py:otherwise><br /><input type="file" name="newfile" size="20" value="test" /> ( add new file )</py:otherwise>
            </py:choose>
            </td>
        </tr>
        <tr>
            <td><label for="notes">Isomer:</label></td>
            
            <td>
            <py:if test="compound.isomer">
            <select name="isomer"><option value="no" >No</option>
                                    <option value="yes" selected="yes">Yes</option></select>
            </py:if>
            <py:if test="not compound.isomer">
            <select name="isomer"><option value="no" selected="yes">No</option>
                                    <option value="yes" >Yes</option></select>
            </py:if>
            </td>
            
        </tr>
        <tr>
            <td><label for="notes">PAINS:</label></td>
            <td><select name="pains"><option value="no">uncheck</option>
                                <option value="yes" selected="yes">check</option></select>
            </td>
        </tr>        
            <tr>
            <td><label for="tags">Tags: </label></td>
            <td>
    
                <ul id="form_tags">
                    <fieldset class="tags"><legend>Select Tag</legend>
                    <li py:for="tag in alltags">
                        <py:if test="tag in tags">
                            <input type="checkbox" name="text_tags" value="${tag.id}"  checked="yes" id="tags" title="&nbsp;" />${tag.name}
                        </py:if>
                        <py:if test="not tag in tags">
                            <input type="checkbox" name="text_tags" value="${tag.id}" id="tags" title="&nbsp;" />${tag.name}
                        </py:if>
                    </li>
                    </fieldset>
                </ul>
                <br /><br />
             </td>
        </tr>
    <tr><td></td><td><input id="submit" type="submit" name="submit" value="Save" /><input id="submit" type="reset" value="Reset" /><input id="submit" type="submit" name="new_compound" value="Create new" /></td></tr>
    </table>
    <input type="hidden" name="come_from" value="${come_from}" />
  </form>
</div>
<div style="clear:both;" />
<script>
// form validation
jQuery.validator.setDefaults({
debug: false,
success: "valid"
});
$( "#myform" ).validate({
    rules: {
        smiles: "required",
        tags: {
            required: true,
            minlength: 1
        }
    },
   errorPlacement: function(error, element)
    {
        if( element.attr('name') == 'tags' ) {
            error.appendTo( element.closest('.tags') );
            element.closest('.tags').attr('id','error');
        } else {
            error.insertAfter(element);
        }
    },
    success: function(label) {
        if( label.attr('for') == 'tags' ) {
            label.closest('.tags').attr('id','valid');
            label.addClass('valid');
        } else {
            label.addClass('valid');
        }
    },
});
</script>
</body>
</html>
