 
   
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/pagination.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/form.css')}" />
  <script type="text/javascript" src="/javascript/my.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="${tg.url('/javascript/jquery.validate.js')}"></script>
  <title>Compounds ${pname}</title>
</head>

<body onLoad='readJMECookie()' onUnload='saveJMECookie()'>
<div id="left_content" style="display:block;">
    ${sidebar()}
    <div style="clear:both;"/>    
     <hr style="border: 2px ridge #000;" />
     <div id="cssmenu">
        <ul>
            <li><a href="${tg.url('/'+pname+'/molecules')}">Show all</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/new')}">Add new</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/read_from_file')}"><b>Import from file</b></a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/showgroups')}">Groups</a></li>
            <li><a href="${tg.url('/'+pname+'/molecules/history')}">History of changes</a></li>
        </ul>
    </div>
</div>
<div class="accept">
<h2 class="text-align:center;">Add new compound</h2>
  <form action="${tg.url('/'+pname+'/molecules/read_from_file')}" enctype="multipart/form-data" method="post" name="form" id="myform" >
    <table style="width:700px;">
        <tr>
            <td><b style="color:red;">*</b> Add file:</td>
            <td><input type="file" name="file" accept="text/plain" /> </td>
        </tr>
        <tr>
            <td><label for="notes">Notes: </label></td>
            <td><textarea id="notes" name="notes" rows="2" value="None" ></textarea></td>
        </tr>
        <tr>
            <td><label for="savefile">Save struct file:</label></td>
            <td><input type="checkbox" name="savefile" value="yes" /></td>
        </tr>
        <tr>
            <td><label for="notes">PAINS:</label></td>
            <td><select name="pains"><option value="no">uncheck</option>
                                    <option value="yes" selected="yes">check</option></select>
            </td>
        </tr>        
            <tr>
            <td><label for="tags"><b style="color:red;">*</b> Tags: </label></td>
            <td>
                <ul style="width:700px;list-style: none; line-height: normal;margin: 0;padding: 0; ">
                <fieldset class="tags"><legend>Select Tag</legend>
                    <li py:for="tag in alltags"  style="float: left; width: 150px; border: 0px;">
                        <input type="checkbox" name="text_tags" value="${tag.id}" class="filternotempty" />${tag.name}</li>
                </fieldset>
                </ul>
                <br /><br />
             </td>
        </tr>
    <tr><td></td>
        <td>
            <div name="newboxes" id="newboxes2" style="display:block">
            <input id="submit" type="submit" value="Save" /><input id="submit" type="reset" value="Reset" />
            </div>
        </td></tr>
        <tr>
            <td></td>
            <td>
                <br /><b style="color:red;  font-size: 80%;">*</b>  - required fields
            </td>
        </tr>
    </table>
  </form>
</div>

<!--!<p class="pagelist">
        <a class="prevPage" href="/list?page=${currentPage.previous_page}">&nbsp;</a>
        ${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
        <a class="nextPage" href="/list?page=${currentPage.next_page}">&nbsp;</a>
</p>-->
  <div class="clearingdiv" />
  <br /> <div class="notice">File formats: smi, sdf, mol. <br />smi file format = SMILES + '_' + Name.
  </div>
<div style="clear:both;" />
</body>
<script>
// form validation
jQuery.validator.setDefaults({
debug: false,
success: "valid"
});
$( "#myform" ).validate({
    rules: {
        file:{
            required: true,
        },
        tags: {
            required: true,
            minlength: 1
        }
    },
   errorPlacement: function(error, element)
    {
        if( element.attr('name') == 'tags' ) {
            error.appendTo( element.closest('.tags') );
            element.closest('.tags').attr('id','error');
        } else {
            error.insertAfter(element);
        }
    },
    success: function(label) {
        if( label.attr('for') == 'tags' ) {
            label.closest('.tags').attr('id','valid');
            label.addClass('valid');
        } else {
            label.addClass('valid');
        }
    },  
});
</script>
</html>
