<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/pagination.css')}" />
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/form.css')}" />
  
  <title>Synthesis ${pname}</title>
</head>

<body>
<div id="left_content" style="display:block;">
    ${sidebar()}
    <div style="clear:both;"/>    
     <hr style="border: 2px ridge #000;" />
     <div id="cssmenu">
        <ul>
            <li><a href="${tg.url('/'+pname+'/synthesis/get_all')}">Show all</a></li>
            <li><a href="${tg.url('/'+pname+'/synthesis')}">Show my</a></li>
        </ul>
    </div>
    <div style="clear:both;"/>    
     <hr style="border: 2px ridge #000;" />
     <div id="cssmenu">
        <ul>
            <li><a href="${tg.url('/'+pname+'/synthesis/details')}/${scompound.gid}/${scompound.id}">Details</a></li>
            <li><a href="${tg.url('/'+pname+'/synthesis/addreag')}/${scompound.id}">Add reagents</a></li>
            <li><a href="${tg.url('/'+pname+'/synthesis/edit')}/${scompound.id}">Edit</a></li>
            <li><a href="${tg.url('/'+pname+'/synthesis/allefforts')}/${scompound.id}">Efforts</a></li>
            <li><a href="${tg.url('/'+pname+'/synthesis/accept')}/${scompound.id}"><b>Recive</b></a></li>
        </ul>
     </div>
</div> 
 
<div class="accept">
  <h2 class="accept">Recive synthesis.</h2>
  <form action="${tg.url('/'+pname+'/synthesis/add_to_library')}/${scompound.id}" method="post" >
    <table style="width:700px;">
        <tr>
            <td><label for="gid">GID: </label></td>
            <td><input id="accept" type="text" name="gid" value="${scompound.gid}" disabled="True" size="1" /></td>
        </tr>
        <tr>
            <td><label for="id">Synthesis ID: </label></td>
            <td><input id="accept" type="text" name="id" value="${scompound.id}" disabled="True" size="1" /></td>
        </tr>
        <tr>
            <td><label for="structure">Smiles: </label></td>
            <td><input id="structure" type="text" name="structure" value="${scompound.mol.structure}" disabled="True"  /></td>
        </tr>
        <tr>
            <td><label for="name">Name: </label></td>
            <td><input id="accept" type="text" name="name" value="${scompound.mol.name}" disabled="True"  /></td>
        </tr>
        <tr>
            <td><label for="form">Form: </label></td>
            <td><textarea id="notes" name="form" rows="2" value="${scompound.form}" >${scompound.form}</textarea></td>
        </tr>
        <tr>
            <td><label for="lso">State [mg]: </label></td>
            <td><input type="text" name="state" value="${scompound.state}" /></td>
        </tr>
        <tr>
            <td><label for="lso">Box: </label></td>
            <td><input type="text" name="box" value="" /></td>
        </tr>
        <tr>
            <td><label for="lso">Entry: </label></td>
            <td><input type="text" name="entry" value="" /></td>
        </tr>
        <tr>
            <td><label for="showme">Show in Activity: </label></td>
            <td>
                <select name="showme">
                    <option value="True" select="selected">Yes</option>
                    <option value="False">No</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="notes">Notes: </label></td>
            <td><textarea id="notes" name="notes" rows="2" value="" >${scompound.notes}</textarea></td>
        </tr>
    <tr><td></td><td><input id="submit" type="submit" name="submit" value="Accept" /></td></tr>
    </table>
<input type="hidden" name="come_from" value="${come_from}" />
  </form>
</div>
<div style="clear:both;" />
</body>
</html>
