<html>
<head>
<title>JSME</title>
<style type="text/css">
table, td, th
{
border:1px solid green;
}
th
{
background-color:green;
color:white;
}
</style>
<script type="text/javascript" src="${tg.url('/javascript/jsme/jsme.nocache.js')}"></script>
<script language="JavaScript">
//this function will be called after the JavaScriptApplet code has been loaded.
function jsmeOnLoad() {
    jsmeApplet = new JSApplet.JSME("jsme_container", "380px", "340px");
}
function submitSmiles() {
  var smiles = jsmeApplet.smiles();
  var jme = jsmeApplet.jmeFile();
  if (smiles == "") {
    alert("Structure error.");
  }
  else {
    opener.fromEditor2(smiles,jme);
    window.close();
  }
}

function openHelpWindow() {
  window.open("http://www.molinspiration.com/document.JMEjme/help/jme2008hints.html","jmehelp","toolbar=no,menubar=no,scrollbars=yes,resizable=yes,width=510,height=675,left=400,top=20");
}

function useMol() {
  jsmeApplet.readMolFile(document.form.mol_output.value);
}

function substituent(r) {
  jsmeApplet.setSubstituent(r);
}
</script>
</head>

<body bgcolor="#ffffff" onload="useMol();">
<center>
	<noscript>
		<div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
			Your web browser must have JavaScript enabled in order for this
			application to display correctly.
        </div>
	</noscript>
<table cellpadding="0" cellspacing="0" border="0" width="370" style="border:0px none">
<tr style="border: 0px none">
    <td align="left" style="border:0px none">&nbsp;</td>
    <td align="right" style="border:0px none">
        <select onChange="substituent(options[selectedIndex].text)">
        <option>Select a substituent</option>
        <option>-C(=O)OH </option>
        <option>-C(=O)OMe</option>
        <option>-OC(=O)Me</option>
        <option>-CMe3</option>
        <option>-CF3</option>
        <option>-CCl3</option>
        <option>-NO2</option>
        <option>-SO2-NH2</option>
        <option>-NH-SO2-Me</option>
        <option>-NMe2</option>
        <option>-C#N</option>
        <option>-C#C-Me</option>
        <option>-C#CH</option>
        </select>
</td></tr></table>
<!--! applet resizing works with IE, doesn't work with NS-->
<div id="jsme_container" style="margin:0 auto;"></div>

<form name="form_editor">
<input type="button" value="Save" onClick="submitSmiles();window.close()" />
&nbsp;&nbsp;
<input type="button" value="Close" onClick="window.close()" />
&nbsp;&nbsp;
<input type="button" value="help" onClick="openHelpWindow()" />
</form>
<form METHOD="POST" NAME="form" ONSUBMIT="return false;" >
<textarea name="mol_output" ROWS="1" COLS="40" style="visibility:hidden;">${smiles}${mol}
</textarea>
</form>

<br />
<table style="border: 1px solid black;">
<CAPTION><B>Keyboard Shortcuts</B></CAPTION>
<tr style="border: 1px solid black;">
<td><FONT SIZE="2">bonds: -,=,#</FONT></td>
<td><FONT SIZE="2">rings: 3..8, Ph is 1, furyl 0</FONT></td>
<td><FONT SIZE="2">atoms: C,N,O,P,S,F,L,B,I,H</FONT></td>
<td><FONT SIZE="2">groups: t - tert.butyl, ft - CF3, y - nitro, a - COOH, z - SO3H</FONT></td>
</tr>
<tr >
    <td><FONT SIZE="2">d - delete</FONT></td>
    <td COLSPAN="3"><FONT SIZE="2">Esc - return to standard mode (C, single bond)</FONT></td>
</tr>
<tr>
    <td COLSPAN="4"><FONT SIZE="2">To move click in the epty field and move mouse coursor. To rotate use "shift".</FONT></td>
</tr>
</table>
</center>
</body>
</html>
