<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" py:if="False"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/style.css')}" />
  <title>Molecules Database</title>
</head>

<body>
<?python
    from tg.predicates import has_permission
?>
<div class="accept" style="margin:0 auto;">
  <div id="getting_started" style="width:600px;margin:0 auto;">
    <h2>Select a project:</h2>
    <ol id="getting_started_steps">
    
    <py:choose test="projects and projects!=None">
      <py:when test="True">
        <py:for each="project in projects">
            <li class="getting_started">
                <h3>
                    <a href="${tg.url('/'+project.name)}">${project.name}</a>
                </h3>
                <p><span style="margin-left:20px;">${project.description}</span></p>
            </li>
        </py:for>
      </py:when>
      <py:otherwise>No projects available. Create new or get the permission.</py:otherwise>
    </py:choose>    

    </ol>
  </div>
  <div class="clearingdiv" />
  </div>
   <div style="clear:both;" />
<br /><div class="notice"> All available projects.</div>
</body>
</html>
