<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/admin.css')}" />
  <title>Admin Tags</title>
</head>

<body>
<div class="accept" style="width:100%;text-align: center;">
    <div style="width: 30%;margin: 0 auto;text-align:center;">
        <a class="hover" href="${tg.url('/admin/users')}">
            <div class="box_link"><img src="${tg.url('/images/users.png')}" border="0" style="width:64px;" /><br />Users</div>
        </a>
        <a class="hover" href="${tg.url('/admin/projects')}">
            <div class="box_link"><img src="${tg.url('/images/project.png')}" border="0" style="width:64px;" /><br />Projects</div>
        </a>
        <a class="hover_active" href="${tg.url('/admin/tags')}">
            <div class="box_link"><img src="${tg.url('/images/tags.png')}" border="0" style="width:64px;" /><br />Tags</div>
        </a>
    </div>
    
    <div class="crud_table" style="width:100%;margin:0 auto;margin-top:20px;">
        <div class="crud_tab">
        <p class="pagelist" style="font-size:12px;text-align:center;">
        <a href="${tg.url('/admin/new_tag')}" class="add_link" >New Tag</a>
            <a class="prevPage" href="${tg.url('/admin/tags/?page')}=${currentPage.previous_page}&amp;${tmpl}">&lt;</a>
                ${currentPage.pager(format='~3~', page_param='page', show_if_single_page=True)}
            <a class="nextPage" href="${tg.url('/admin/tags/?page')}=${currentPage.next_page}&amp;${tmpl}">&gt;</a>
        </p>
        <br />
        <table class="grid" style="width:400px;">
            <thead >
                <tr>
                    <th class="col">actions</th>
                    <th class="col">Name<br /><a class="sort_up" href="${tg.url('/admin/tags?'+tmpl.replace('order_by', 'remove').replace('desc', 'remove')+'order_by=name')}&amp;desc=0">&nbsp; </a>
                        <a class="sort_down" href="${tg.url('/admin/tags?'+tmpl.replace('order_by', 'remove').replace('desc', 'remove')+'order_by=name')}&amp;desc=1">&nbsp; </a></th>
                        
                </tr>
            </thead>
            <tbody>
                <tr py:for="row in currentPage.items" class="${currentPage.items.index(row)%2 and 'odd' or 'even'}" id="${row.id}">
                    <td class="col" style="width:80px;"><a href="${tg.url('/admin/edit_tag')}/${row.id}" class="edit_link" title="edit"></a><a href="${tg.url('/admin/delete_tag')}/${row.id}" class="delete_link" onClick="return confirm('Delete entry?')" title="delete"></a></td>
                    <td class="col">${row.name}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<div style="clear:both;"/>
</body>
</html>
